h1,
p {
  font-family: Lato;
}
body {
  background-color: #0cbaba;
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  background-size: 300% 300%;
  padding: 20px;
}
.source-text {
  padding: 8px;
  border-radius: 10px;
  outline: none !important;
}
.search-term {
  padding: 8px;
  border-radius: 10px;
  outline: none !important;
}
.box {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 70vh;
  min-width: 50vh;
  margin: 2px auto;
  padding: 10px;
  gap: 20px;
  background: rgb(0, 0, 0, 0.3);
  box-shadow: 2px 2px 4px rgb(255, 255, 255, 0.4);
}

.search-term {
  outline: none;
}
.result {
  background: white;
  min-height: 50px;
  overflow: auto;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
  resize: both;
  transition: 0.5s all ease-in-out;
}
